<mat-button-toggle-group value="month" (change)="getReport($event.value)">
  <mat-button-toggle value="year">سال</mat-button-toggle>
  <mat-button-toggle value="month">ماه</mat-button-toggle>
  <mat-button-toggle value="day">روز</mat-button-toggle>
</mat-button-toggle-group>
<div class="chart-wrapper">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
