/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


ngx-spinner{
  .black-overlay{
    position: fixed !important;
  }
  .loading-text{
    color: #ccc;
  }
}
